.title {
  margin: 0 0 16px;
  padding: 8px;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 4px;
  display: flex;
  align-self: center;
  height: 48px;
  font-size: 32px;
  background-color: #0e192c;
  align-items: center;
  font-weight: lighter;
  border: 2px solid gray;
}

.bolder {
  font-weight: bolder;
  color: white;
}